$dark-back: #0A2647;
$dark-sormei: #144272;
$level3: #205295;
$inner: #35A29F;

@mixin every() {
    /* margin-left: 8px; */
    float: left;
    margin-top: 13px;
    font-size: 17px;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    color: white;
    background-color: $dark-back;
}

.container {
    width: 100vw;
    float: right;

    &-main {
        width: 95%;
        margin: 1.5% 2.5%;
        border-radius: 10px;
        background-color: $dark-sormei;
        float: right;
    }
}


.top5 {
    width: 46%;
    background-color: $level3;
    display: inline;
    border-radius: 10px;
    margin: 1% 2%;
    float: left;
    list-style-type: none;
    padding-left: 0;
}

.top5-inner {
    width: 93%;
    margin: 10px 2.5%;
    background-color: $inner;
    border-radius: 5px;
    padding: 1%;
    float: left;
    display: inline;

    &>* {
        width: 19.7%;
    }

    svg {
        float: left;
        width: 48px !important;
        margin: 0 30px 0 10px;
    }

    .inner-name {
        @include every();
    }

    .inner-price {
        @include every();
        /* margin-left: 70px; */
    }

    .inner-change {
        @include every();
        /* margin-left: 50px; */
    }

    .inner-button {
        @include every();

        padding: 2%;
        border: none;
        background-color: $dark-back;
        color: white;
        border-radius: 5px;
        /* margin-left: 35px; */
        margin-top: 2px;
        cursor: pointer;
        transition: 0.5s;
        text-align: center;

        &:hover {
            background-color: white;
            color: $dark-back;
        }
    }
}

.uy1 {
    cursor: default !important;
    user-select: none !important;

    &:hover {
        background-color: darkred !important;
        color: white !important;
    }
}

footer {
    background-color: darkslategrey;
    height: 150px;
    width: calc(100% - (15px * 2));
    float: left;
    border-radius: 5px 5px 0 0;
    padding: 10px 15px;
    margin-top: 30px;
    display: flex;


    table {
        width: 100%;
        height: 100%;
        float: left;

        tr {
            height: calc(100% / 3);

            td {
                width: calc((100% / 3) - 1%);
                height: 100%;
                display: flex;
                align-items: end;
                justify-content: left;
                float: left;
                flex-wrap: wrap;

                .ins a {
                    background: #f09433;
                    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
                    color: white;
                    border-radius: 10px;
                    padding: 1px 8px 2px;
                    cursor: pointer;
                    transition: 1s;
                    text-decoration: none;
                    font-size: 20px;
                    &:hover{
                        background: white;
                        color: black;
                    }

                }
            }
        }
    }
}